################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/WorkerService/bin/Debug/net5.0
/WorkerService/obj
